<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LA-LL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15B949F61BC965A6008BF0D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15B94A0E1BC965A6008BF0D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15B94A191BC965A6008BF0D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
